<!DOCTYPE html>
<html lang="en" data-framework="angular.js">
<head>
    <meta charset="utf-8">
    

    <title>e-learning episodes - Quiz 3 - Biology</title>
     <script type="text/javascript" src="../js/angular.js"></script>
    
    <link type="text/css" rel="stylesheet" href="../css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="../css/quiz.css" />
    <link type="text/css" rel="stylesheet" href="../css/drag_drop.css" />

    <link type="text/css" rel="stylesheet" href="../css/dragdrop_pairs.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="../css/adaptive-modal.css" />
    <!--<link type="text/css" rel="stylesheet" href="../css/jquery-ui.min.css" />-->
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.structure.min.css" />
    <!--<link type="text/css" rel="stylesheet" href="../css/jquery-ui.theme.min.css" />-->

<!--below is from http://scrollback.io enabling an instant private chat room called elearning to be set up -->
 <script>window.scrollback = {room:"elearning",embed:"toast",theme:"light",minimize:true};(function(d,s,h,e){e=d.createElement(s);e.async=1;e.src=(location.protocol === "https:" ? "https:" : "http:") + "//scrollback.io/client.min.js";d.getElementsByTagName(s)[0].parentNode.appendChild(e);}(document,"script"));</script>
   
</head>


<body>
<div class="container grey_background" ng-app><!-- yes -->
     <div class="row-fluid margin_left_30">

            <div class="col-md-12"><img src="../images/title.png" alt="title e-learning episodes"> </div>

                      <ul class="nav nav-tabs col-md-offset-4 margin_right_430" role="tablist">
                           <li class="font_nav_bar_quiz margin_left_35"><a href="../index.php">&nbsp;Quiz 1&nbsp;</a></li>
                         <li class="font_nav_bar_quiz"><a href="../space_2.php">&nbsp;Quiz 2&nbsp;</a></li>
                         <li class="active font_nav_bar_quiz"><a href="../space_3.php">&nbsp;Quiz 3&nbsp;</a></li>
                     </ul>
              
            </div> <!-- row-fluid -->

        <div id="quiz_container" class="container-fluid border_curved margin_bottom_20 purple_background"><!-- yes -->

       <div class="row-fluid">

                <div class="col-md-3"><button type="submit" id="forum_btn" class="btn btn-primary margin_top_button button_css">Class Forum</button>
                  <button type="submit" id="video_btn" class="btn btn-primary margin_top_button button_css">Video</button></div>
                    <ul class="nav nav-tabs" role="tablist">
                          <li class="font_nav_bar_subj margin_left_30"><a href="../space_3.php">&nbsp;Space&nbsp;</a></li>
                          <li class="font_nav_bar_subj"><a href="../countries_3.php">&nbsp;Countries&nbsp;</a></li>
                          <li class="font_nav_bar_subj"><a href="../cities_3.php">&nbsp;Cities&nbsp;</a></li>
                          <li class="active font_nav_bar_subj"><a href="../biology_3.php">&nbsp;Biology&nbsp;</a></li>
                    </ul>

<div id="forum"> 
    <object type="text/html" data="https://www.hipchat.com/gB5NcM9Uy" width="1120px" height="600px" style="overflow:auto;border:1px ridge blue">
    </object></div>

 <div id="video" ng-controller="Ctrl"> 
        <div class="col-md-12">


          <div class="col-md-6 margin_top_button" >
            <section id="section1" ng-show="is(1)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/uU00tg98Jjw">
                      </iframe>
            </section>
             <section id="section2" ng-show="is(2)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/BW05vMziy2o">
                      </iframe>
            </section>
             <section id="section3" ng-show="is(3)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/NbpB5F9CcLc">
                      </iframe>
            </section>
             <section id="section4" ng-show="is(4)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/Nc2MhpgASeI">
                      </iframe>
            </section>
             <section id="section5" ng-show="is(5)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/yz1oTHXvbHg">
                      </iframe>
            </section>
             <section id="section6" ng-show="is(6)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/IWoxYQx9aIQ">
                      </iframe>
            </section>
             <section id="section7" ng-show="is(7)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/HIRCI0G19Uw">
                      </iframe>
            </section>
             <section id="section8" ng-show="is(8)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/wA-NoH_G330">
                      </iframe>
            </section>
            
          </div><!--col-md-6-->

        <div class="col-md-6">
            <ul>
              <div id="usersnav" class="btn-group">

                            <ul class="nav" class="{{active}}" ng-click="$event.preventDefault()">
                                <li class="font_nav_bar_video" id="show-section1" value="Section 1" ><a ng-click="section(1)" ng-class="{'btn-primary': is(1)}">Cyanobacteria</a></li>
                               <li class="font_nav_bar_video" id="show-section2" value="Section 2" ><a ng-click="section(2)" ng-class="{'btn-primary': is(2)}">Sponge</a></li>
                               <li class="font_nav_bar_video" id="show-section3" value="Section 3" ><a ng-click="section(3)" ng-class="{'btn-primary': is(3)}">Jellyfish</a></li>
                               <li class="font_nav_bar_video" id="show-section4" value="Section 4" ><a ng-click="section(4)" ng-class="{'btn-primary': is(4)}">Horseshoe Crab</a></li>
                               <li class="font_nav_bar_video" id="show-section5" value="Section 5" ><a ng-click="section(5)" ng-class="{'btn-primary': is(5)}">Coelacanth</a></li>
                               <li class="font_nav_bar_video" id="show-section6" value="Section 6" ><a ng-click="section(6)" ng-class="{'btn-primary': is(6)}">Gingko Biloba</a></li>
                               <li class="font_nav_bar_video" id="show-section7" value="Section 7" ><a ng-click="section(7)" ng-class="{'btn-primary': is(7)}">Nautilus</a></li>
                               <li class="font_nav_bar_video" id="show-section8" value="Section 8" ><a ng-click="section(8)" ng-class="{'btn-primary': is(8)}">Horseshoe Shrimp</a></li>
                               
                            </ul>
                 </div><!--usersnav-->

              </ul>
           </div><!--col-md-6-->

        </div><!--col-md-12-->
      </div><!--video-->


          <div class="col-md-12" style="margin-top:50px;">

            <div id="number_rows_biology"> 
              <div id="number_row1">
                <div id="row1a" class="row1a row_no_border_150"></div>
                <div id="row1b" class="row1b row_no_border_280"></div>
              </div>
              <div id="number_row2">
                <div id="row2a" class="row2a row_no_border_150"></div>
                <div id="row2b" class="row2b row_no_border_280"></div>
              </div>
              <div id="number_row3">
                <div id="row3a" class="row3a row_no_border_150"></div>
                <div id="row3b" class="row3b row_no_border_280"></div>
              </div>
               <div id="number_row4"> 
                <div id="row4a" class="row4a row_no_border_150"></div>
                <div id="row4b" class="row4b row_no_border_280"></div>
              </div>
              <div id="number_row5">
                <div id="row5a" class="row5a row_no_border_150"></div>
                <div id="row5b" class="row5b row_no_border_280"></div>
              </div>
              <div id="number_row6">
                <div id="row6a" class="row6a row_no_border_150"></div>
                <div id="row6b" class="row6b row_no_border_280"></div>
              </div>
              <div id="number_row7">
                <div id="row7a" class="row7a row_no_border_150"></div>
                <div id="row7b" class="row7b row_no_border_280"></div>
              </div>
              <div id="number_row8">
                <div id="row8a" class="row8a row_no_border_150"></div>
                <div id="row8b" class="row8b row_no_border_280"></div>
              </div>

            </div>

            <div>
              <img src="../images/3billion.png" alt="3billion">
            </div>
            <div id="info">

              <p class="Arial_Rd_Grey_30" style="line-height:150%;">Arrange these living species by age </br>in years</p>
            </div>

            <div id="biology_info">

              <div id="Q3_more_info" class="col-md-6">

                  <span class="cities_facts">Well Done!</span><br />
                  <span class="more_infoQ3">Follow these recommended links for more information and further study:</span><br />

                  <div class="col-md-6">
                    <span class="font_cities_nameQ3">Cyanobacteria: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.ucmp.berkeley.edu/bacteria/cyanointro.html" target="_blank">More facts about Cyanobacteria</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://dkphoto.photoshelter.com/gallery/Bacteria-Cyanobacteria/G0000R_i8T7G66nE/C0000oyPxKwu0APU" target="_blank">Cyanobacteria photos </a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.greenwaterlab.com/algal-id.html" target="_blank">Cyanobacteria micrographs</a> </span><br />


                    <span class="font_cities_nameQ3">Sponge: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.seasponges.com.au/information/sea-sponge-facts" target="_blank">More facts about Sponges</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.ryanphotographic.com/sponges.htm" target="_blank">Sponge photos</a> </span><br />
                     <span class="font_more_info_link"> <a href="https://www.ebiomedia.com/prod/BOsponges.html" target="_blank">Sponge evolution</a> </span><br />

                    <span class="font_cities_nameQ3">Jellyfish: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.jellyfishfacts.net/" target="_blank">More facts about Jellyfish</a> </span><br />
                      <span class="font_more_info_link"> <a href="http://ocean.nationalgeographic.com/ocean/photos/ocean-jellyfish/" target="_blank">National Geographic Jellyfish</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://ocean.si.edu/jellyfish-and-comb-jellies" target="_blank">even more Jellyfish facts</a> </span><br />
                     <span class="font_more_info_link"> <a href="http://tolweb.org/treehouses/?treehouse_id=4296" target="_blank">Jellyfish evolution</a> </span><br />
                
                    <span class="font_cities_nameQ3">Horseshoe Crab: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.extension.harvard.edu/hub/blog/extension-blog/4-amazing-facts-about-horseshoe-crab" target="_blank">More facts about the Horseshoe Crab</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.arkive.org/horseshoe-crab/limulus-polyphemus/image-G123712.html" target="_blank">Horseshoe Crab photo gallery</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.palaeontologyonline.com/articles/2012/fossil-focus-xiphosura/" target="_blank">Horseshoe Crab evolution</a> </span><br />
                   </div>

                   <div class="col-md-6">

                    <span class="font_cities_nameQ3">Coelacanth: </span><br />
                    <span class="font_more_info_link"> <a href="http://animals.nationalgeographic.com/animals/fish/coelacanth/" target="_blank">National Geographic Coelacanth</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.arkive.org/coelacanth/latimeria-chalumnae/" target="_blank">Coelacanth photos</a> </span><br />
                      <span class="font_more_info_link"> <a href="http://www.scientificamerican.com/article/slow-evolving-lobe-finned-coelacanth-genome-unlocked/" target="_blank">Coelacanth evolution</a> </span><br />

                     <span class="font_cities_nameQ3">Gingko Biloba: </span><br />
                    <span class="font_more_info_link"> <a href="http://umm.edu/health/medical/altmed/herb/ginkgo-biloba" target="_blank">More facts about Gingko Biloba</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.arkive.org/maidenhair-tree/ginkgo-biloba/" target="_blank">Gingko Biloba photos</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.palaeobotany.org/page/living-fossils/gingko-biloba/" target="_blank">Gingko Biloba evolution</a> </span><br />

                    <span class="font_cities_nameQ3">Nautilus: </span><br />
                    <span class="font_more_info_link"> <a href="http://nationalzoo.si.edu/animals/invertebrates/facts/cephalopods/factsheets/chamberednautilus.cfm" target="_blank">More facts about Nautilus</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.oceanwideimages.com/categories.asp?cID=140" target="_blank">Nautilus photos</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.ucmp.berkeley.edu/taxa/inverts/mollusca/cephalopoda.php" target="_blank">Nautilus evolution</a> </span><br />

                    <span class="font_cities_nameQ3">Horseshoe Shrimp: </span><br />
                    <span class="font_more_info_link"> <a href="http://tolweb.org/Cephalocarida/6245" target="_blank">More facts about the Horseshoe Shrimp</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.okapiland.com/life/life2/life5.html" target="_blank">Horseshoe Shrimp evolution</a> </span><br />
                  </div>

                </div>

                  <div id="drag_biology6" class="gingko_biloba"> <img src="../images/gingko_biloba_Q3.png" alt="gingko_biloba"></div> 
                 <div id="drag_biology2" class="sponge"> <img src="../images/sponge_Q3.png" alt="sponge"></div> 
                 
                 <div id="drag_biology4" class="horseshoe_crab"> <img src="../images/horseshoe_crab_Q3.png" alt="horseshoe_crab"> </a></div> 
                 <div id="drag_biology1" class="cyanobacteria"> <img src="../images/cyanobacteria_Q3.png" alt="cyanobacteria"></div> 

                 <div id="drag_biology5" class="coelacanth"> <img src="../images/coelacanth_Q3.png" alt="coelacanth"></div>
               
                <div id="drag_biology3" class="jellyfish"> <img src="../images/jellyfish_Q3.png" alt="jellyfish"></div> 
                <div id="drag_biology8" class="horseshoe_shrimp"> <img src="../images/horseshoe_shrimp_Q3.png" alt="horseshoe_shrimp"></div> 
                <div id="drag_biology7" class="nautilus"> <img src="../images/nautilus_Q3.png" alt="nautilus"></div> 
                 
              

                <div id="drag_fact_biology1" class="cyanobacteria_fact margin-left_20"> <img src="../images/cyanobacteria_factQ3.png" alt="cyanobacteria_fact"></div> 
               
                <div id="drag_fact_biology3" class="jellyfish_fact margin-left_20"> <img src="../images/jellyfish_factQ3.png" alt="jellyfish_fact"></div> 
                <div id="drag_fact_biology8" class="horseshoe_shrimp_fact margin-left_20"> <img src="../images/horseshoe_shrimp_factQ3.png" alt="horseshoe_shrimp_fact"></div> 
                <div id="drag_fact_biology4" class="horseshoe_crab_fact margin-left_20"> <img src="../images/horseshoe_crab_factQ3.png" alt="horseshoe_crab_fact"></div> 
                 <div id="drag_fact_biology2" class="sponge_fact margin-left_20"> <img src="../images/sponge_factQ3.png" alt="sponge_fact"></div> 

                <div id="drag_fact_biology5" class="coelacanth_fact margin-left_20"> <img src="../images/coelacanth_factQ3.png" alt="coelacanth_fact"></div> 
              
                <div id="drag_fact_biology7" class="nautilus_fact margin-left_20"> <img src="../images/nautilus_factQ3.png" alt="nautilus_fact"></div> 
                
                  <div id="drag_fact_biology6" class="gingko_biloba_fact margin-left_20"> <img src="../images/gingko_biloba_factQ3.png" alt="gingko_biloba_fact"></div> 
               

            </div> <!-- number_rows_space -->







          </div> <!-- col-md-12 -->

</div> <!-- row-fluid -->
</div> <!-- container -->



</div> <!-- container grey background -->


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src=" http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="../js/jquery-ui.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="../js/quiz3_dragdrop_biology3.js"></script>
<script type="text/javascript" src="../js/hide_forum.js"></script>
<script type="text/javascript" src="../js/hide_video.js"></script>
<script type="text/javascript" src="../js/angular_section.js"></script>



</body>
</html>








