<!DOCTYPE html>
<html lang="en" data-framework="angular.js">
<head>
    <meta charset="utf-8">
    

    <title>e-learning episodes - Quiz 3 - Cities</title>
    <script type="text/javascript" src="../js/angular.js"></script>
    
    <link type="text/css" rel="stylesheet" href="../css/fonts.css" />
    <link type="text/css" rel="stylesheet" href="../css/quiz.css" />
    <link type="text/css" rel="stylesheet" href="../css/drag_drop.css" />
        <link type="text/css" rel="stylesheet" href="../css/share.css" />

    <link type="text/css" rel="stylesheet" href="../css/dragdrop_pairs.css" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="../css/adaptive-modal.css" />
    <!--<link type="text/css" rel="stylesheet" href="../css/jquery-ui.min.css" />-->
    <link type="text/css" rel="stylesheet" href="../css/jquery-ui.structure.min.css" />
    <!--<link type="text/css" rel="stylesheet" href="../css/jquery-ui.theme.min.css" />-->

   <!--below is from http://scrollback.io enabling an instant private chat room called elearning to be set up -->
    <script>window.scrollback = {room:"elearning",embed:"toast",theme:"light",minimize:true};(function(d,s,h,e){e=d.createElement(s);e.async=1;e.src=(location.protocol === "https:" ? "https:" : "http:") + "//scrollback.io/client.min.js";d.getElementsByTagName(s)[0].parentNode.appendChild(e);}(document,"script"));</script>

</head>


<body class="body_class_white">
<div class="container grey_background" ng-app><!-- yes -->
   <div class="row-fluid margin_left_30">

            <div class="col-md-12"><img src="../images/title.png" alt="title e-learning episodes"> </div>

                      <ul class="nav nav-tabs col-md-offset-4 margin_right_430" role="tablist">
                           <li class="font_nav_bar_quiz margin_left_35"><a href="../index.php">&nbsp;Quiz 1&nbsp;</a></li>
                         <li class="font_nav_bar_quiz"><a href="../space_2.php">&nbsp;Quiz 2&nbsp;</a></li>
                         <li class="active font_nav_bar_quiz"><a href="../space_3.php">&nbsp;Quiz 3&nbsp;</a></li>
                     </ul>
              
            </div> <!-- row-fluid -->

        <div id="quiz_container" class="container-fluid border_curved margin_bottom_20 Q3_background"><!-- yes -->

       <div class="row-fluid">

                <div class="col-md-3"><button type="submit" id="forum_btn" class="btn btn-primary margin_top_button">Class Forum</button>
                <button type="submit" id="video_btn" class="btn btn-primary margin_top_button">Video &amp; Audio</button></div>
                   <div class="col-md-6"> 
                    <ul class="nav nav-tabs" role="tablist">
                           <li class="font_nav_bar_subj margin_left_30"><a href="../space_3.php">&nbsp;Space&nbsp;</a></li>
                          <li class="font_nav_bar_subj"><a href="../countries_3.php">&nbsp;Countries&nbsp;</a></li>
                          <li class="active font_nav_bar_subj"><a href="../cities_3.php">&nbsp;Cities&nbsp;</a></li>
                          <li class="font_nav_bar_subj"><a href="../biology_3.php">&nbsp;Biology&nbsp;</a></li>
                    </ul>
                  </div><!-- col-md-6 -->
                    <div class="col-md-3">
                      <div class="share-button margin_top_share"></div>
                      <button type="submit" class="btn btn-primary  button_css pull-right margin_top_20">Change Theme</button></div>
        </div><!-- row-fluid -->

<div id="forum"> 
    <object type="text/html" data="https://www.hipchat.com/gB5NcM9Uy" width="1120px" height="600px" style="overflow:auto;border:1px ridge blue">
    </object></div>

   <div id="video" ng-controller="Ctrl"> <!--yes-->
  <div class="row">
        <div class="col-md-12"><!--yes-->


          <div class="col-md-5 margin_top_button" >
            <section id="section1" ng-show="is(1)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/WBelUobpzaA">
                      </iframe>
            </section>
             <section id="section2" ng-show="is(2)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/aeo4OupQrJY">
                      </iframe>
            </section>
             <section id="section3" ng-show="is(3)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/auKglj7y3bg">
                      </iframe>
            </section>
             <section id="section4" ng-show="is(4)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/xKRlchrOWNc">
                      </iframe>
            </section>
             <section id="section5" ng-show="is(5)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/bivHXPu0BoE">
                      </iframe>
            </section>
             <section id="section6" ng-show="is(6)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/hiSFxKMO_2Q">
                      </iframe>
            </section>
             <section id="section7" ng-show="is(7)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/0mh_0z4d3yU">
                      </iframe>
            </section>
             <section id="section8" ng-show="is(8)">
                  <iframe width="420" height="345"
                        src="http://www.youtube.com/embed/Hfz3ql_AxAM">
                      </iframe>
            </section>
            
          </div><!--col-md-6-->

        <div class="col-md-3">
            <ul>
              <div id="usersnav" class="btn-group">

                            <ul class="nav" class="{{active}}" ng-click="$event.preventDefault()">
                                <li class="font_nav_bar_video" id="show-section1" value="Section 1" ><a ng-click="section(1)" ng-class="{'btn-primary': is(1)}">Tokyo</a></li>
                               <li class="font_nav_bar_video" id="show-section2" value="Section 2" ><a ng-click="section(2)" ng-class="{'btn-primary': is(2)}">Canton</a></li>
                               <li class="font_nav_bar_video" id="show-section3" value="Section 3" ><a ng-click="section(3)" ng-class="{'btn-primary': is(3)}">Shanghai</a></li>
                               <li class="font_nav_bar_video" id="show-section4" value="Section 4" ><a ng-click="section(4)" ng-class="{'btn-primary': is(4)}">Jakarta</a></li>
                               <li class="font_nav_bar_video" id="show-section5" value="Section 5" ><a ng-click="section(5)" ng-class="{'btn-primary': is(5)}">Seoul</a></li>
                               <li class="font_nav_bar_video" id="show-section6" value="Section 6" ><a ng-click="section(6)" ng-class="{'btn-primary': is(6)}">Delhi</a></li>
                               <li class="font_nav_bar_video" id="show-section7" value="Section 7" ><a ng-click="section(7)" ng-class="{'btn-primary': is(7)}">Mumbai</a></li>
                               <li class="font_nav_bar_video" id="show-section8" value="Section 8" ><a ng-click="section(8)" ng-class="{'btn-primary': is(8)}">New York</a></li>
                               
                            </ul>
                  </div><!--usersnav-->

              </ul>
           </div><!--col-md-4-->

   


 
        <div class="col-md-4"><!--yes-->
          <div id="audio" ng-controller="Ctrl"> <!--yes-->
            <p class="Arial_Rd_Grey_25">Listen to related podcasts </br>for further study</p>
            <p class="font_planet_para_bold">New York's first apartment building</p>
             <div class="margin_bottom_audio">
                     <audio controls>
                        <source src="http://hwcdn.libsyn.com/p/b/3/7/b3785be44e7b55b9/131_The_First_Apartment_Building.mp3?c_id=4009338&amp;expiration=1407012959&amp;hwt=113c3346b72ff21ddb1e03edd73e2837" type="audio/mpeg">
                        <embed height="50" width="" src="http://hwcdn.libsyn.com/p/b/3/7/b3785be44e7b55b9/131_The_First_Apartment_Building.mp3?c_id=4009338&amp;expiration=1407012959&amp;hwt=113c3346b72ff21ddb1e03edd73e2837">
                      </audio>  
              </div><!-- details1.show -->
              <p class="font_planet_para_bold">Old and new accomodation in Tokyo</p>
               <div class="margin_bottom_audio">
                     <audio controls>
                        <source src="http://www.hostelworld.com/static/episodes/TheOldAndTheNew.mp3" type="audio/mpeg">
                        <embed height="50" width="" src="http://www.hostelworld.com/static/episodes/TheOldAndTheNew.mp3">
                      </audio>
              </div><!-- details1.show -->
              <p class="font_planet_para_bold">Shanghai architectural styles</p>
                <div class="margin_bottom_audio">
                     <audio controls>
                       <source src="http://www.hostelworld.com/static/episodes/onlyinshanghai.mp3" type="audio/mpeg">
                        <embed height="50" width="100" src="http://www.hostelworld.com/static/episodes/onlyinshanghai.mp3">
                      </audio>
              </div><!-- details1.show -->
               
             
            </div><!--audio-->
          </div><!--col-md-2-->


        </div><!--col-md-12-->
         </div><!--row-->
      </div><!--video-->


          <div class="col-md-12" style="margin-top:50px;">

            <div id="number_rows_cities"> 
              <div id="number_row1">
                <div id="row1a" class="row1a row_no_border_150"></div>
                <div id="row1b" class="row1b row_no_border_280"></div>
              </div>
              <div id="number_row2">
                <div id="row2a" class="row2a row_no_border_150"></div>
                <div id="row2b" class="row2b row_no_border_280"></div>
              </div>
              <div id="number_row3">
                <div id="row3a" class="row3a row_no_border_150"></div>
                <div id="row3b" class="row3b row_no_border_280"></div>
              </div>
               <div id="number_row4"> 
                <div id="row4a" class="row4a row_no_border_150"></div>
                <div id="row4b" class="row4b row_no_border_280"></div>
              </div>
              <div id="number_row5">
                <div id="row5a" class="row5a row_no_border_150"></div>
                <div id="row5b" class="row5b row_no_border_280"></div>
              </div>
              <div id="number_row6">
                <div id="row6a" class="row6a row_no_border_150"></div>
                <div id="row6b" class="row6b row_no_border_280"></div>
              </div>
              <div id="number_row7">
                <div id="row7a" class="row7a row_no_border_150"></div>
                <div id="row7b" class="row7b row_no_border_280"></div>
              </div>
              <div id="number_row8">
                <div id="row8a" class="row8a row_no_border_150"></div>
                <div id="row8b" class="row8b row_no_border_280"></div>
              </div>
             

            </div>

            <div>
              <img src="../images/218million.png" alt="218million">
            </div>
            <div id="info">

              <p class="Arial_Rd_Grey_30" style="line-height:150%;">Place the cities in order of population and match the facts</p>
            </div>

            <div id="cities_info">

               <div id="Q3_more_info" class="col-md-6">

                  <span class="cities_facts">Well Done!</span><br />
                  <span class="more_infoQ3">Follow these recommended links for more information and further study:</span><br />

                  <div class="col-md-6">
                    <span class="font_cities_nameQ3">Tokyo: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.mapsofworld.com/japan/tokyo-city-map.html" target="_blank">More facts about Tokyo</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://travel.nationalgeographic.com/travel/city-guides/tokyo-photos-1/" target="_blank">National Geographic Tokyo </a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.worldcitiescultureforum.com/cities/tokyo" target="_blank">Tokyo Culture</a> </span><br />


                    <span class="font_cities_nameQ3">Canton: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.chinahighlights.com/guangzhou/guangzhou-facts.htm" target="_blank">More facts about Canton</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.travelchinaguide.com/picture/guangdong/guangzhou/" target="_blank">Canton photo gallery</a> </span><br />
                     <span class="font_more_info_link"> <a href="http://www.chinahighlights.com/festivals/guangzhou/" target="_blank">Canton events</a> </span><br />

                    <span class="font_cities_nameQ3">Shanghai: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.chinahighlights.com/shanghai/shanghai-facts.htm" target="_blank">More facts about Shanghai</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.photographyblogger.net/30-pictures-of-shanghai-china/" target="_blank">Shanghai photo gallery</a> </span><br />
                     <span class="font_more_info_link"> <a href="http://www.worldcitiescultureforum.com/cities/shanghai" target="_blank">Shanghai Culture</a> </span><br />
                
                    <span class="font_cities_nameQ3">Jakarta: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.indonesiapoint.com/tourist-attractions/jakarta/jakarta-facts.html" target="_blank">More facts about Jakarta</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://jakartadailyphoto.com/" target="_blank">Jakarta photo gallery</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.thejakartapost.com/channel/culture" target="_blank">Jakarta Culture</a> </span><br />
                   </div>

                   <div class="col-md-6">

                    <span class="font_cities_nameQ3">Seoul: </span><br />
                    <span class="font_more_info_link"> <a href="http://travel.cnn.com/seoul/life/50-reasons-why-seoul-worlds-greatest-city-534720" target="_blank">More facts about Seoul</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://travel.nationalgeographic.com/travel/city-guides/seoul-photos-1/" target="_blank">National Geographic Seoul</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.worldcitiescultureforum.com/cities/seoul" target="_blank">Seoul Culture</a> </span><br />

                     <span class="font_cities_nameQ3">Delhi: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.delhitourism.gov.in/delhitourism/aboutus/index.jsp" target="_blank">More facts about Delhi</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://travel.nationalgeographic.com/travel/city-guides/delhi-photos-2/" target="_blank">National Geographic Delhi</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.delhitourism.gov.in/delhitourism/aboutus/culture_delhi.jsp" target="_blank">Delhi Culture</a> </span><br />

                    <span class="font_cities_nameQ3">Mumbai: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.mydestination.com/mumbai/travel-articles/722246/mumbai--15-amazing-facts" target="_blank">More facts about Mumbai</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://travel.nationalgeographic.com/travel/city-guides/mumbai-photos-2/" target="_blank">National Geographic Mumbai</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.worldcitiescultureforum.com/cities/mumbai" target="_blank">Mumbai Culture</a> </span><br />

                    <span class="font_cities_nameQ3">New York: </span><br />
                    <span class="font_more_info_link"> <a href="http://www.buzzfeed.com/mjs538/60-facts-that-will-make-nyc-feel-like-a-whole-new-place" target="_blank">More facts about New York</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://travel.nationalgeographic.com/travel/city-guides/new-york-photos-1/" target="_blank">National Geographic New York</a> </span><br />
                    <span class="font_more_info_link"> <a href="http://www.worldcitiescultureforum.com/cities/new-york" target="_blank">New York Culture</a> </span><br />
                  </div>

                </div>
                 <div id="drag_city8" class="newyork"> <img src="../images/newyork.png" alt="newyork"></div> 
                <div id="drag_city1" class="tokyo"> <img src="../images/tokyo.png" alt="tokyo"> </a></div> 
                <div id="drag_city2" class="canton"> <img src="../images/canton.png" alt="canton"></div> 
               
                <div id="drag_city4" class="jakarta"> <img src="../images/jakarta.png" alt="jakarta"></div> 

               <div id="drag_city7" class="mumbai"> <img src="../images/mumbai.png" alt="mumbai"></div> 
                <div id="drag_city6" class="delhi"> <img src="../images/delhi.png" alt="delhi"></div> 
                 
                  <div id="drag_city5" class="seoul"> <img src="../images/seoul.png" alt="seoul"></div> 
                  <div id="drag_city3" class="shanghai"> <img src="../images/shanghai.png" alt="shanghai"></div>
               


                  <div id="drag_fact_city3" class="shanghai_fact margin-left_20"> <img src="../images/shanghai_fact.png" alt="shanghai_fact"></div> 
                <div id="drag_fact_city2" class="canton_fact margin-left_20"> <img src="../images/canton_fact.png" alt="canton_fact"></div> 
              <div id="drag_fact_city5" class="seoul_fact margin-left_20"> <img src="../images/seoul_fact.png" alt="seoul_fact"></div> 
                <div id="drag_fact_city4" class="jakarta_fact margin-left_20"> <img src="../images/jakarta_fact.png" alt="jakarta_fact"></div> 
                <div id="drag_fact_city7" class="mumbai_fact margin-left_20"> <img src="../images/mumbai_fact.png" alt="mumbai_fact"></div> 
                <div id="drag_fact_city1" class="tokyo_fact margin-left_20"> <img src="../images/tokyo_fact.png" alt="tokyo_fact"></div> 
                <div id="drag_fact_city6" class="delhi_fact margin-left_20"> <img src="../images/delhi_fact.png" alt="delhi_fact"></div> 
                
                <div id="drag_fact_city8" class="newyork_fact margin-left_20"> <img src="../images/newyork_fact.png" alt="newyork_fact"></div> 

            </div><!--cities_info-->

          </div> <!-- span12 -->

</div> <!-- row-fluid -->
</div> <!-- container -->



</div> <!-- container grey background -->


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src=" http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="../js/jquery-ui.js"></script>
<script type="text/javascript" src="../js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="../js/quiz3_dragdrop_cities3.js"></script>
<script type="text/javascript" src="../js/hide_forum.js"></script>
<script type="text/javascript" src="../js/hide_video.js"></script>
<script type="text/javascript" src="../js/angular_section.js"></script>
<script type="text/javascript" src="../js/toggle_css.js"></script>
<script type="text/javascript" src="../js/share.js"></script>


<script>
    var share = new Share(".share-button", {
      networks: {
        facebook: {
          app_id: "602752456409826",
        }
      }
    });
  </script>


</body>
</html>



